body {
    width: 100%;
    height: 100vh;
    background: linear-gradient(to bottom,
            #009688 0%,
            #009688 50%,
            #dadbd1 50%,
            #dadbd1 100%);
    display: flex;
    justify-content: center;
    align-items: center;
}

.col-12 {
    display: flex;
}

nav {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background-color: #eaeaea;
    vertical-align: middle;

}


.menu-left {
    background-color: #eaeaea;

}

.menu-right {
    background-color: #eaeaea;
    color: #b1b1b1;
}

.top {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.menu-top {
    background-color: #eaeaea;

}

.col-4 {
    background-color: #ffffff;
}

#avatar {
    width: 100px;
    border-radius: 50px;
}

.notify-banner {
    background-color: #8edafc;
    display: flex;
}

#bell {
    background-color: #f1fafe;
    color: #8dd9fb;
    border-radius: 50px;
}

#notification-link {
    position: absolute;
    margin-top: 40px;
    margin-left: 35px;
}

.search-bar {
    background-color: #ffffff;

}

.user-list {
    background-color: white;
}

.user-list>img {
    width: 100px;
    border-radius: 50px;
}

.container {
    display: flex;

}



.bottom-speech {
    background: url(./img/mine.jpg);
    height: 300px;
}